@media screen and (max-width: 500px){
   .logo{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
   }
   .sear{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .banner{
    margin-top: 12.5rem;
    width: 20rem;
   }
   .banner img{
    width: 50px;
   }
   .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   }
   .form-control{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
   }
}